*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    align-items: none;
    list-style-type: none;
} 
header a{
    color: #Fff;
    text-decoration: none;
}
header a:hover{
    opacity: .9;
    text-decoration: underline #fff;
} 
header .m-3{
    background-color: #fff;
    cursor: pointer;
    opacity: .8;
}
header .m-3:hover{
    opacity: 1;
}
header button{
    padding: 6px;
    border: 3px solid gold;
    border-radius: 12px;
    transition: background .4s;
}
header button:hover{
    background: gold;
    color: #fff;
}


/* ....... */
.show > .dropdown-menu {
    max-height: 1500px;
    visibility: visible;
}
    
.dropdown-menu {
    display: block;
    max-height: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

/* for main */
main h5{
    text-align: start;
    font-size: 52px;
}
main p{
    font-size: 22px;
}





/* first text animation */
.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
   


/* secound text animation */
h2 {
	position: absolute;
	top: 39%;
	transform: translate(calc(50vw - 50%), -55%);
	text-transform: uppercase;
	font-size: 9em;
	font-family: arial;
}

h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 1px rgba(17, 9, 3, 0.35);
}

h2:nth-child(2) {
	color: rgb(45, 139, 45);
	animation: water 6s ease-in-out infinite;
}

@keyframes water {
	0%,
	100% {
		clip-path: polygon(0 47%, 8% 36%, 19% 27%, 31% 29%, 42% 45%, 48% 66%, 58% 79%, 76% 79%, 89% 75%, 100% 63%, 100% 100%, 0 100%);
	}

	50% {
		clip-path: polygon(0 64%, 8% 76%, 19% 80%, 31% 78%, 42% 68%, 48% 46%, 58% 30%, 76% 28%, 89% 37%, 100% 48%, 100% 100%, 0 100%);
	}
}


@media screen and (max-width: 700px) {
	h2 {
		font-size: 5em;
	}
}

@media screen and (max-width: 600px) {
	h2 {
		font-size: 3em;
	}
}